.header {
  background-color: #fff;
  box-shadow: 0 0 0 0 #ccc, 0 5px 5px 0 #ccc;
  padding: 10px;
  position: fixed;
  width: 100vw;
}

.title {
  font-size: 16px;
  margin: 0 0 5px 0;
}

.link {
  color: #888;
  text-decoration: none;
}

.content {
  padding: 90px 10px 0 10px;
}
